* {
    box-sizing: border-box;
    border-radius: 10px;
}

html {
    height: 100vh;
    width: 100vw;
}

body{
    /*font-family: 'Changa', sans-serif;*/
    font-family: 'Alata', sans-serif;
    /*background-image: linear-gradient(to right, #0dbbd6, #042e5b);*/
    background: rgb(9,163,201);
    background: linear-gradient(90deg, rgba(9,163,201,0.8309698879551821) 0%, rgba(216,0,255,0.727328431372549) 100%);
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgba(0, 0, 0, 0.7);
    height: 500px;
    width: 400px;
    border-style: outset;
}

.heading {
    margin-bottom: 2em;
    font-size: 4em;
}

.inputs {
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.previous-text, .current-text {
    color: aliceblue;
    display: flex;
    justify-content: end;
    padding-right: 2em;
}

.previous-text {
    height: 50%;
    width: 100%;
    font-size: 1.5em;
}

.current-text {
    height: 50%;
    width: 100%;
    font-size: 2em;
}

.buttons {
    display: inline-grid;
    width: 400px;
    height: 400px;
    grid-template-areas:
        "one two three plus"
        "four five six minus"
        "seven eight nine multiply"
        "period zero divide equals"
        "clear clear clear clear";
}

.zero {grid-area: zero;}
.one {grid-area: one;}
.two {grid-area: two;}
.three {grid-area: three;}
.four {grid-area: four;}
.five {grid-area: five;}
.six {grid-area: six;}
.seven {grid-area: seven;}
.eight {grid-area: eight;}
.nine {grid-area: nine;}

.plus {grid-area: plus;}
.minus {grid-area: minus;}
.multiply {grid-area: multiply;}
.divide {grid-area: divide;}
.period {grid-area: period;}
.equals {grid-area: equals;}
.clear {grid-area: clear;}

.button {
    color: #e8daf6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1fr;
    width: 1fr;
    font-size: 40px;
    text-decoration: none;
    margin: 1px;
    /*transition: font-size .2s;*/
}

.button:hover {
    background: rgb(9,163,201);
    background: linear-gradient(45deg, rgba(9,163,201,0.8309698879551821) 25%, rgba(223,92,188,1) 75%);
}

