* {
    box-sizing: border-box;
    border-radius: 10px;
}

html {
    height: 100vh;
    width: 100vw;
}

body{
    font-family: 'Alata', sans-serif;
    background: rgb(9,163,201);
    background: linear-gradient(90deg, rgba(9, 163, 201, 0.83) 0%, rgba(216, 0, 255, 0.73) 100%);
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgba(0, 0, 0, 0.7);
    height: 520px;
    width: 420px;
    border-style: outset;
    padding: 10px;
}

.heading {
    font-family: 'Ranchers', cursive;
    margin-bottom: 50px;
    font-size: 170px;
    /*background: rgb(9,163,201);*/
    background: -webkit-linear-gradient(45deg, rgba(216,0,255,1) 15%, rgba(9,163,201,1) 86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*background: rgb(9,163,201);*/
    /*background: linear-gradient(45deg, rgba(9,163,201,1) 15%, rgba(216,0,255,1) 86%);*/
}

.inputs {
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.previous-text, .current-text {
    color: aliceblue;
    display: flex;
    justify-content: end;
    padding-right: 2em;
}

.previous-text {
    height: 50%;
    width: 100%;
    font-size: 1.5em;
}

.current-text {
    height: 50%;
    width: 100%;
    font-size: 2em;
}

.buttons {
    display: inline-grid;
    width: 400px;
    height: 400px;
    grid-template-areas:
        "one two three plus"
        "four five six minus"
        "seven eight nine multiply"
        "period zero divide equals"
        "clear clear clear clear";
}

.zero {grid-area: zero;}
.one {grid-area: one;}
.two {grid-area: two;}
.three {grid-area: three;}
.four {grid-area: four;}
.five {grid-area: five;}
.six {grid-area: six;}
.seven {grid-area: seven;}
.eight {grid-area: eight;}
.nine {grid-area: nine;}

.plus {grid-area: plus;}
.minus {grid-area: minus;}
.multiply {grid-area: multiply;}
.divide {grid-area: divide;}
.period {grid-area: period;}
.equals {grid-area: equals;}
.clear {grid-area: clear;}

.button {
    color: #e8daf6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1fr;
    width: 1fr;
    font-size: 40px;
    text-decoration: none;
    margin: 1px;
    /*transition: font-size .2s;*/
}

.button:hover {
    background: rgb(9,163,201);
    background: linear-gradient(45deg, rgba(9,163,201,0.2455357142857143) 25%, rgba(223,92,188,0.2539390756302521) 75%);
}

