* {
    box-sizing: border-box;
    border-radius: 10px;
}

html {
    height: 100vh;
    width: 100vw;
}

body{
    background-image: linear-gradient(to right, #0dbbd6, #042e5b);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: aliceblue;
    width: 400px;
    background-image: linear-gradient(to right, #042e5b, #0dbbd6);
}

.inputs {
    width: 400px;
    height: 50px;
    display: flex;
}

.previous-text {
    height: 100%;
    width: 50%;
}

.current-text {
    height: 100%;
    width: 50%;
}

.buttons {
    display: inline-grid;
    width: 400px;
    height: 400px;
    grid-template-areas:
        "one two three plus"
        "four five six minus"
        "seven eight nine multiply"
        "period zero divide equals"
        "clear clear clear clear";
}

.zero {grid-area: zero;}
.one {grid-area: one;}
.two {grid-area: two;}
.three {grid-area: three;}
.four {grid-area: four;}
.five {grid-area: five;}
.six {grid-area: six;}
.seven {grid-area: seven;}
.eight {grid-area: eight;}
.nine {grid-area: nine;}

.plus {grid-area: plus;}
.minus {grid-area: minus;}
.multiply {grid-area: multiply;}
.divide {grid-area: divide;}
.period {grid-area: period;}
.equals {grid-area: equals;}
.clear {grid-area: clear;}

.button {
    color: #c198ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1fr;
    width: 1fr;
    /*border: 1px solid black;*/
    font-size: 3em;
    text-decoration: none;
    margin: 1px;
}

